@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight: 800;">Welcome To Todo App</h1>
    <p>A basic Todo management web application.</p>
</div>
